html, body{
    min-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #D1E7E4;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    z-index: -1; /* Pour que l'image soit en arrière-plan, si besoin */
}

.image-container img {
    height: 100vh;
    width: auto;
    object-fit: cover;
    display: block;
}