html, body{
    min-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #D1E7E4;
}

main {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-group, .form-group-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group-row {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.form-group {
    width: 100%;
    max-width: 400px; /* Taille maximale des groupes */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center; /* Centrer les titres des champs */
    width: 100%;
}

.form-group input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-group input[type="number"] {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-group-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group-checkbox label {
    font-weight: bold;
}

.comic-button {
    display: inline-block;
    padding: 2vh 1vw;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00505B;
    border: 0.3vh solid #000;
    border-radius: 2vh;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
.comic-button:hover {
    background-color: #fff;
    color: #00505B;
    border: 2px solid #00505B;
    box-shadow: 5px 5px 0px #00505B;
}
  
.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}