html, body{
    min-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #D1E7E4;
    overflow-x: hidden;
}

main {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 80vw;
    margin: 0 auto;
    padding: 2vh;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.form-group, .form-group-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group-row {
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.form-group {
    width: 100%;
    max-width: 50vw; /* Taille maximale des groupes */
}

.form-group label {
    margin-bottom: 1vh;
    font-weight: bold;
    text-align: center; /* Centrer les titres des champs */
    width: 100%;
}

.form-group input[type="text"] {
    width: 100%;
    max-width: 37.5vw; /* 300px en unités relatives (environ) */
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-group input[type="number"] {
    width: 100%;
    max-width: 18.75vw; /* 150px en unités relatives (environ) */
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-group input[type="checkbox"] {
    margin-right: 0.5vw;
}

.form-group select {
    width: 100%;
    max-width: 37.5vw; /* 300px en unités relatives (environ) */
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-group-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group-checkbox label {
    font-weight: bold;
}

.comic-button {
    display: inline-block;
    padding: 2vh 1vw;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00505B;
    border: 0.3vh solid #000;
    border-radius: 2vh;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
.comic-button:hover {
    background-color: #fff;
    color: #00505B;
    border: 2px solid #00505B;
    box-shadow: 5px 5px 0px #00505B;
}
  
.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

/* Masquer la scrollbar par défaut */
body::-webkit-scrollbar {
    display: none;
}

/* Conteneur de l'émote d'arbre en mouvement */
#treeContainer {
    position: fixed;
    right: 0;
    top: 0;
    width: 4vh; /* Largeur de l'émote */
    height: 100vh; /* Hauteur de la scrollbar */
    background: transparent;
    z-index: 2;
    overflow: hidden; /* Cache les parties débordantes de l'émote */
    pointer-events: none; /* Désactiver les événements sur le conteneur */
}

#trail {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1vh; /* Largeur de la traînée */
    background: #5a4b19; /* Couleur verte pour la traînée */
    z-index: -1; /* Derrière l'émote d'arbre */
    height: 0;
}

/* Emote d'arbre */
#tree {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    font-size: 5vmin; /* Taille de l'émote */
    cursor: pointer; /* Changer le curseur pour indiquer que c'est draggable */
    user-select: none;
    pointer-events: auto; /* Activer les événements sur l'émote */
}
