html, body {
    min-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #D1E7E4;
    overflow: hidden;
}

main {
    background-image: url("../image/background.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: relative;
    background-position: bottom;
    width: 100vw;
    height: 75vh;
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    gap: 7vh;
    position: relative; /* Ajouté pour positionner les voitures par rapport à main */
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00505B;
    text-align: center;
    z-index: 2;
}

.pres {
    width: 50vw;
    height: 20vh;
    text-align: center;
    color: #FFFFFF;
    background-color: #00505b52; 
    backdrop-filter: blur(10px); 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh; 
}

.comic-button {
    display: inline-block;
    padding: 2vh 1vw;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00505B;
    border: 0.3vh solid #000;
    border-radius: 2vh;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
.comic-button:hover {
    background-color: #fff;
    color: #00505B;
    border: 2px solid #00505B;
    box-shadow: 5px 5px 0px #00505B;
}
  
.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

.cloud {
    align-self: flex-start;
    width: 12vw;
    height: 9vh;
    background-color: white;
    border-radius: 4rem;
    margin-top: 1vh;
    margin-left: -20vw;
    position: absolute;
    z-index: 0;
    box-shadow: 1px 2px 2px 0px rgb(0 0 0 / 18%);
}
.cloud::before,
.cloud::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
}
.cloud::before {
    top: -40%;
    left: 15%;
    width: 8vmin;
    height: 8vmin;
    transform: rotate(-45deg);
}
.cloud::after {
    bottom: 30%;
    right: 15%;
    width: 13vmin;
    height: 13vmin;
    transform: rotate(-45deg);
}
.cloud0 {
    margin-top: -2vh;
    animation: leftToRight 20s linear infinite;
}
.cloud1 {
    margin-top: 10vh;
    animation: leftToRight 20s 7s linear infinite;
}
.cloud2 { 
    margin-top: 25vh;
    animation: leftToRight 20s 3s linear infinite;
}
.cloud3 { 
    margin-top: 2vh;
    animation: leftToRight 20s 11s linear infinite;
}
.cloud4 { 
    margin-top: 21vh;
    animation: leftToRight 20s 15s linear infinite;
}

@keyframes leftToRight {
    0% {
      margin-left: -20vw;
    }
    50% {
      margin-left: 50%;
    }
    100% {
      margin-left: 120vw;
    }
}

.car {
    overflow: hidden;
    font-size: 40px;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 1.3vh; /* Positionner les voitures au bas du conteneur main */
    left: 0; /* S'assurer que les voitures commencent à gauche */
}

.car .car1,
.car .car2,
.car .car3,
.car .car4,
.car .car5,
.car .car6,
.car .car7,
.car .car8,
.car .car9 {
    position: absolute;
    display: inline-block;
    animation: run 25s linear infinite;
    
}

.car .car2,
.car .car3,
.car .car4,
.car .car8,
.car .car9 {
    
    animation-name: run2;
}

.car .car2 { animation-duration: 30s; top: 3vh; }
.car .car3 { animation-duration: 20s; animation-delay: 2s; top: 3vh; }
.car .car4 { animation-duration: 23s; animation-delay: 10s; top: 3vh; }
.car .car5 { animation-duration: 20s; animation-delay: 5s; }
.car .car6 { animation-duration: 17s; animation-delay: 20s; }
.car .car7 { animation-duration: 18s; animation-delay: 19s; }
.car .car8 { animation-duration: 20s; animation-delay: 15s; top: 3vh; }
.car .car9 { animation-duration: 23s; animation-delay: 17s; top: 3vh; }

@keyframes run {
    0% { left: -10vw; 
        transform: rotateY(180deg);}
    50% { left: 50vw; 
        transform: rotateY(180deg);}
    100% { left: 110vw; 
        transform: rotateY(180deg);}
}

@keyframes run2 {
    0% { left: 110vw; }
    50% { left: 50vw; }
    100% { left: -10vw; }
}